In [33]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# Cotação Dólar
nav = webdriver.Chrome()
nav.get("https://www.google.com/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(f"Cotação Dólar: {cotacao_dolar}")

# Cotação Euro
nav.get("https://www.google.com/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(f"Cotação Euro: {cotacao_euro}")

# Cotação Ouro
nav.get("https://www.melhorcambio.com/")
aba_original = nav.window_handles[0]
nav.find_element_by_xpath('//*[@id="commodity-hoje"]/tbody/tr[2]/td[2]/a/img').click()
aba_nova = nav.window_handles[1]
nav.switch_to.window(aba_nova)
cotacao_ouro = nav.find_element_by_id('comercial').get_attribute('value')
print(cotacao_ouro)
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(f"Cotação Ouro: {cotacao_ouro}")
nav.quit()

Cotação Dólar: 5.249
Cotação Euro: 6.191925111000001
300,62
Cotação Ouro: 300.62

In [41]:
import pandas as pd

# Importação e atualização da base de dados
tabela_df = pd.read_excel("Produtos.xlsx")
display(tabela_df)
tabela_df.loc[tabela_df["Moeda"]=="Dólar", "Cotação"]=float(cotacao_dolar)
tabela_df.loc[tabela_df["Moeda"]=="Euro", "Cotação"]=float(cotacao_euro)
tabela_df.loc[tabela_df["Moeda"]=="Ouro", "Cotação"]=float(cotacao_ouro)
display(tabela_df)

# Exportação da nova base de dados

tabela_df.to_excel("produtos atualizados.xlsx", index=False)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.249000,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6.191925,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.249000,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.249000,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6.191925,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.249000,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,300.620000,7000.00,1.15,8050.000